*{margin: 0; padding: 0; box-sizing: border-box; }

body{
  height: 100%;
}

nav{
  border-bottom: 2px solid #bababa ;
  display: flex;
  justify-content: space-around  
}

.Sig{
  text-align: center;
  align-items: center;
  display: grid;
  width: 100%;
  border: 2px solid #686975;
  box-shadow: 3px 5px 3px black ;
  padding: 15px 0px;
  background-color: #538CFF;
  margin: 25px 10px;
  border-radius: 1.75vh;
  font-weight: bold;
  font-size:large;
}

.info{
  text-align: center;
  align-items: center;
  display: grid;
  width: 60%;
  border: 2px solid #686975;
}


a {
  color: beige;
  text-decoration: none;
}

.Sig:hover{
  background-color: #212183;
  transition-duration: 0.7s;
}

@media screen and (max-width: 992px){
   .Sig,nav{
    padding: 8px 10px;
  }
    .Sig{
      margin-left: 20px; 
      
      font-size: large;
    }
}

@media screen and (max-width: 689px){
    .Sig,nav{
      padding: 10px 6px;   
    }
    .Sig{
      position: relative;
      margin-left: 7px;
      font-size: small;
    }
    .material-icons{
      display: none;
    }
}