  
  .slide-fade-in-dropdown {
    position: relative;  
  }
  
  .slide-fade-in-dropdown > ul {
    animation: slide-fade-in-dropdown-animation .4s ease;
  }
  
  .slide-fade-out-dropdown {
    overflow: hidden;
    position: relative;  
  }
  
  .slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
  }
  
  .components-dropdown > ul {
    gap: 5px;
    z-index: 1;
    position: absolute;
    display: grid;
    padding: 20px;
    margin-top: 15px;
    list-style: none;
    background-color: rgb(200, 200, 200)
  }
  
