*{margin: 0; padding: 0; box-sizing: border-box; }

nav{
  background-color: #1A1A33;
  border-bottom: 2px solid goldenrod ;
  display: flex;
  justify-content: space-around  
}

.Sig{
  text-align: center;
  align-items: center;
  display: grid;
  width: 100%;
  border: 5px solid #686975;
  padding: 16px 15px;
  background-color: #538CFF;
  margin-left: 35px;
  border-radius: 1.75vh;
  font-weight: bold;
  font-size:large;
}

a {
  color: beige;
  text-decoration: none;
}

.Sig:hover{
  background-color: #5353FF;
  transition-duration: 0.5s;
}

@media screen and (max-width: 992px){
   .Sig,nav{
    padding: 8px 10px;
  }
    .Sig{
      margin-left: 20px; 
      
      font-size: large;
    }
}

@media screen and (max-width: 689px){
    .Sig,nav{
      padding: 10px 6px;   
    }
    .Sig{
      position: relative;
      margin-left: 7px;
      font-size: small;
    }
    .material-icons{
      display: none;
    }
}